<!-- <div class="p-5">
<input id="fileUpload" type="file" name="fileUpload" (change)="fileUpload($event)" multiple />
<br /><br />
<button (click)="fileUploadHandler()">submit</button>
</div> -->

<!DOCTYPE html>
<html>
<head>
  <title>DOCUMENT UPLOAD</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</head>
<body>
<h1>UPLOAD DOCUMENTS</h1>
<form class="cf" (ngSubmit)= "fileUploadHandler()" ngNativeValidate>
  <div class="half left cf">
    <input type="text" id="input-name" [(ngModel)]="user.clientName" name="clietName" placeholder="Company Name" required/>
    <input type="email" id="input-email" [(ngModel)]="user.clientEmail" name="clietEmail" placeholder="Email Address" required/>
    <input type="number" id="input-subject" [(ngModel)]="user.clientMobile" name="clietMobile" placeholder="Phone Number" required/>
  </div>
  <div class="half right cf" style="position: relative; top: 38px;">
   <img src="/assets/images/upload.png" style="height: 80px;" />
    <input id="fileUpload" type="file" name="fileUpload" (change)="fileUpload($event)" multiple required/>
  </div> 
  <input type="submit" value="Upload" id="input-submit">
  <br /> 
</form>
<div class="row" id="preview">
  <div class="col-3" *ngFor="let img of imgURL">
    <img *ngIf="img.ext != '.pdf'" [src]="img.url" class="rounded mb-3" width="100%"><br />
    <pdf-viewer *ngIf="img.ext === '.pdf'" [src]="img.url"
    [original-size]="false"
></pdf-viewer>
<span class="pl-0">{{img.name}}</span>
</div>
</div><br />
</body>
</html>



